<div class="container" *ngIf="!countryAdded">
  <h1>List of Countries</h1>
  <p id="firstText">When you will select a country it will either give you threat alert of that particular company or if you select a safe country then it will allow you to add another safe country to your list so that you can have a safe world tour.</p>
  <p id="secondText">Happy Roaming!!!</p>
  <table class="table table-stripped">
    <thead>
      <th>S. No.</th>
      <th>Country</th>
    </thead>
    <tbody>
      <tr *ngFor="let country of arr | paginate: {itemsPerPage:10, currentPage: p}; let i = index">
          <td>{{i+1}}</td>
          <td>{{country.name}}</td>
          <td><button class="btn btn-outline-primary" (click)="onSelectCountry(country)">Select</button></td>
          <td *ngIf="addButton && (country.threatLevel === 1 || country.threatLevel === 2) && country.name !== selectedCountry1"><button class="btn btn-outline-success" (click)="addOneMoreCountry(country)">Add Country</button></td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p=$event"></pagination-controls> 
</div>
<app-selected-country *ngIf="countryAdded" [selectedCountry1]="selectedCountry1" [selectedCountry2]="selectedCountry2"></app-selected-country>

